<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="well">
			<div class="row">
				<div class="col-md-3">
					<a href="{{tweet.source}}">
						{{fa-icon "twitter"}}
						<b>{{tweet.user}}</b>
					</a>
				</div>
				<div class="col-md-9">
					<p>{{tweet.text}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
				</div>
				<div class="col-md-6">
					<div class="text-right">
						<b>#{{tweet.topic}}</b>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>